{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "semi": "off",
    "no-plusplus": "off",
    "prefer-const": "warn",
    "eol-last": "off",
    "no-console": ["off"],
    "max-len": [
      "error",
      150,
      {
        "ignoreUrls": true,
        "ignoreRegExpLiterals": true,
        "ignoreComments": true
      }
    ],
    "no-tabs": "off",
    "no-alert": "off",
    // "indent": [2, "tab"],
    "prefer-destructuring": "off",
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": true,
        "ignoreComments": true
      }
    ],
    "react-hooks/exhaustive-deps": "off"
  }
}
