{
  "extends": ["stylelint-config-standard", "stylelint-order-config-standard"],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "rules": {
    "indentation": ["tab"],
    "color-hex-case": "upper",
    "selector-class-pattern": "^.*$",
    "declaration-block-no-redundant-longhand-properties": [
      true,
      {
        "ignoreShorthands": ["/grid/"]
      }
    ],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-pattern": "^foo",
    "scss/selector-no-redundant-nesting-selector": true
  }
}
